@tailwind base;
@tailwind components;
@tailwind utilities;

.birds {
  position: absolute;
  animation: birdsAnimation 32s infinite linear;
}

@keyframes birdsAnimation {
  0% {
    right: -15%;
  }

  100% {
    right: 200%;
  }
}
